@page "/user-registration"
@namespace BlazorBEADs.DemoWasm.Pages
@using BlazorBEADs.DemoWasm
@using BlazorBEADs.DemoWasm.Models
@using BlazorBEADs.DemoWasm.Pages.BrandNew

<h3>User Registration</h3>

<h4>Values:</h4>

<h5>Bound Fields:</h5>
<ul>
    <li><strong>Full Name:</strong> @userModel.FullName</li>
    <li><strong>Country:</strong> @userModel.Country</li>
    <li><strong>Accept Terms:</strong> @(userModel.AcceptTerms ? "Yes" : "No")</li>
    <li><strong>Gender:</strong> @userModel.Gender</li>
</ul>

<button class="btn btn-primary" @onclick="ShowModal">Open Modal (New)</button>
<button class="btn btn-primary" @onclick="ShowModal">Open Modal (By Template)</button>

<UserRegistrationModalNew @ref="ModalReference" Model="userModel" OnClose="RefreshPage" />

@code {
    private UserRegistrationModel userModel = new UserRegistrationModel
    {
        FullName = "Mario Rossi",
        Country = "IT",
        AcceptTerms = false,
        Gender = "Male"
    };

    private UserRegistrationModalNew? ModalReference { get; set; }

    private void ShowModal()
    {
        if (ModalReference != null)
        {
            ModalReference.Open();
        }
    }

    private void RefreshPage()
    {
        InvokeAsync(StateHasChanged);
    }
}